<?xml version="1.0" encoding="utf-8" ?>
<objects xmlns="http://www.springframework.net">
  
  <object id="SingerService" parent="BaseTransactionManager">
    <property name="Target">
      <object type="Service.impl.SingerService,Service">
        <property name="Repository" ref="repository.singer"/>
      </object>
    </property>
  </object>

  <object id="SongService" parent="BaseTransactionManager">
    <property name="Target">
      <object type="Service.impl.SongService,Service">
        <property name="Repository" ref="repository.song"/>
      </object>
    </property>
  </object>

  <object id="ResourceService" parent="BaseTransactionManager">
    <property name="Target">
      <object type="Service.impl.ResourceService,Service">
        <property name="Repository" ref="repository.resource"/>
      </object>
    </property>
  </object>
</objects>