<?xml version="1.0" encoding="utf-8" ?>
<objects xmlns="http://www.springframework.net"
         xmlns:db="http://www.springframework.net/database">

  <object id="repository.singer" type="Manager.impl.SingerRepository, Manager" >
    <property name="HibernateTemplate" ref="HibernateTemplate" />
  </object>

  <object id="repository.song" type="Manager.impl.SongRepository, Manager" >
    <property name="HibernateTemplate" ref="HibernateTemplate" />
  </object>

  <object id="repository.resource" type="Manager.impl.ResourceRespository, Manager" >
    <property name="HibernateTemplate" ref="HibernateTemplate" />
  </object>

</objects>